<div class="row">
   <!--col-md-12 start-->
   <div class="col-md-12">
      <div class="page-heading">
         <h1>Lançamentos <small>Consultar Lançamentos</small></h1>
      </div>
   </div>
   <!--col-md-12 end-->
   <!--conteudo INCIAL -->
   <!--col-md-12 start-->
   <div class="col-md-12">
      <div class="box-info">
         <h3>Gerar Relatório</h3>
         <hr>
         <div class="panel">
            <div class="panel-body">
               <%= form_tag search_product_bar_path, method: :get, class: 'form-horizontal' do %>
                  <div class="form-group">
                     <label class="col-lg-2 control-label">Período</label>
                     <div class="col-lg-6">
                     <div class="input-group"> <span class="input-group-addon"><i class="fa fa-calendar" ></i></span>
                     <!--colocar helper do rails -->
                           <%= text_field_tag :date_range, "#{Time.now.strftime("%d/%m/%Y")} - #{Time.now.strftime("%d/%m/%Y")}", placeholder: 'Data', class: 'form-control', id:'reportrange'%>
                      </div>

                     </div>
                  </div>

                   <div class="form-group">
                     <label class="col-lg-2 control-label">Mesa</label>
                     <div class="col-lg-6">
                        <%= select_tag :tables, options_for_select(@tables.map { |d| [d.number, d.id] }), class: 'form-control', :prompt => "Todas" %>
                     </div>
                  </div>

               
                  <div class="form-group">
                     <label class="col-lg-2 control-label">Funcionário</label>
                     <div class="col-lg-6">
                        <%= select_tag :employee, options_for_select(@employees.map { |d| [d.name, d.id] }), class: 'form-control', :prompt => "Todos" %>
                     </div>
                  </div>
                  <div class="form-group">
                     <label class="col-lg-2 control-label">Forma de Pagamento</label>
                     <div class="col-lg-6">
                         <%= select_tag :payment_method, options_for_select(Transaction.payment_method_options), class: 'form-control', prompt: "Todos" %>
                     </div>
                  </div>

                  <div class="form-group">
                     <div class="col-lg-offset-2 col-lg-10">
                        <%= submit_tag "Gerar Relatório", class:"btn btn-success" %>
                        <%= button_tag "Cancelar", type: :reset, class:"btn btn-default" %>
                     </div>
                  </div>
               <% end %>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-12">
      <!--box-info start-->
      <div class="box-info">
       <% if @date %>
            <h4><%= @date %></h4>
         <% end %>
      
         <hr>
            <!--adv-table start-->
            <div class="adv-table">
               <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered responsive" id="hidden-table-info_barq">
                  <thead>
                     <tr>
                        <th>ORDEM</th>
                        <th>MESA</th>
                        <th>PRODUTO</th>
                        <th>USUÁRIO</th>
                        <th>QUANT.</th>
                        <th>VALOR UNIT.</th>
                        <th>VALOR TOTAL</th>
                        <th>ENTRADA</th>
          
                     </tr>
                  </thead>
                  
                   <tbody>
                   <% total_all = 0
                      total_money = 0
                      total_card = 0 
                    %>
                   <% @inputsbar.each do |inputs| %>
                     <% HistoryBarQuery.main_query(id_order: inputs.id).each do |transaction| %>
                        <tr class="gradeX <%= (transaction.status_t == 'undone' ? 'danger' :'') %> ">
                           <td><%=transaction.input_bar.id%></td>
                           <td><%=transaction.input_bar.table_bar.number%></td>
                           <td><%=transaction.product.name%></td>
                           <td><%= inputs.employee.name %></td>
                           <td><%= transaction.quantity %></td>
                           <td><%=number_to_currency(transaction.product.price)%></td>
                           <td><%=number_to_currency(transaction.product.price * transaction.quantity)%></td>
                           <td><%=transaction.input_bar.date_in.strftime("%d/%m/%Y - %H:%M:%S")%> </td>     
                     <% end %>
                     <tr class="gradeX">
                        <th colspan="7" ></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <% if inputs.payment_method == 'money'
                             total_money += total_bar(inputs.id) 
                           else
                             total_card += total_bar(inputs.id) 
                           end
                           %>
                        <th style="text-align:right">Ordem #<%=inputs.id%></br><%="\t\t"%>Total: <%=number_to_currency(total_bar(inputs.id))%></br><%="\tt"%>Forma de pagamento: <%= t("activerecord.attributes.transaction.payment_methods.#{inputs.payment_method}") %></th>
                     </tr>
                   <% end %>

                     <tr>
                        <th colspan="7" style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th style="display: none;"></th>
                        <th colspan="8" style="text-align:right">Dinheiro: <%=number_to_currency(total_money.round(2))%></br><%="\t\t"%>Cartão: <%=number_to_currency(total_card.round(2))%></br><%="\t\t"%>Total: <%=number_to_currency((total_money+total_card).round(2))%></th>
                     </tr>
              
                   </tbody>
                 
               
               </table>
            </div>
         <!--adv-table end-->
      </div>
      <!--box-info end-->
   </div>
   <!--col-md-12 end-->

  
</div>
<!--col-md-12 end-->
