<div class="row">
   <!--col-md-12 start-->
   <div class="col-md-12">
      <div class="page-heading">
         <h1>Lançamentos <small>Consultar Lançamentos</small></h1>
      </div>
   </div>
   <!--col-md-12 end-->
   <!--conteudo INCIAL -->
   <!--col-md-12 start-->
   <div class="col-md-12">
      <div class="box-info">
         <h3>Gerar Relatório</h3>
         <hr>
         <div class="panel">
            <div class="panel-body">
               <%= form_tag search_product_path, method: :get, class: 'form-horizontal' do %>
                  <div class="form-group">
                     <label class="col-lg-2 control-label">Período</label>
                     <div class="col-lg-6">
                     <div class="input-group"> <span class="input-group-addon"><i class="fa fa-calendar" ></i></span>
                     <!--colocar helper do rails -->
                           <%= text_field_tag :date_range, "#{Time.now.strftime("%d/%m/%Y")} - #{Time.now.strftime("%d/%m/%Y")}", placeholder: 'Data', class: 'form-control', id:'reportrange'%>
                      </div>

                     </div>
                  </div>

                   <div class="form-group">
                     <label class="col-lg-2 control-label">Código</label>
                     <div class="col-lg-6">
                        <%= text_field_tag :code, nil, class: 'form-control' %>
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="col-lg-2 control-label">Tipo</label>
                     <div class="col-lg-6">
                        <select class="form-control" id="source" name="type">
                           <option value="all" />Todos
                           <option value="sales" />Venda
                           <option value="purchases" />Compra
                        </select>
                     </div>
                  </div>

                  <div class="form-group">
                     <label class="col-lg-2 control-label">Departamento</label>
                     <div class="col-lg-6">
                        <%= select_tag :departments, options_for_select(@departments.map { |d| [d.name, d.id] }), class: 'form-control' %>
                     </div>
                  </div>

                  <div class="form-group">
                     <div class="col-lg-offset-2 col-lg-10">
                        <%= submit_tag "Gerar Relatório", class:"btn btn-success" %>
                        <%= button_tag "Cancelar", type: :reset, class:"btn btn-default" %>
                     </div>
                  </div>
               <% end %>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-12">
      <!--box-info start-->
      <div class="box-info">
         <% if @initial_date && @end_date %>
            <h4><%= @initial_date %> até <%= @end_date %></h4>
         <% end %>
         <hr>
            <!--adv-table start-->
            <div class="adv-table">
               <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
                  <thead>
                     <tr>
                        <th>ID</th>
                        <th>PRODUTO</th>
                        <th>QUANTIDADE</th>
                        <th>USER</th>
                        <th>DATA DE TRANSAÇÃO</th>
                        <th>DATA DE LANÇAMENTO</th>
                        <th>VALOR</th>
                     </tr>
                  </thead>
               
                  <tbody>
                     <% @transactions.each do |transaction| %>
                        <tr class="gradeX">
                           <td><%= transaction.id %></td>
                           <td><%= transaction.product.name %></td>
                           <td><%= transaction.quantity %></td>
                           <td><%= transaction.employee.name %></td>
                           <td><%= transaction.data_t.strftime("%d/%m/%Y")%></td>
                           <td><%= transaction.created_at.strftime("%d/%m/%Y %H:%M") %></td>
                           <td><%= transaction.price %></td>
                        </tr>
                     <% end %>
                  </tbody>
               </table>
            </div>
         <!--adv-table end-->
      </div>
      <!--box-info end-->
   </div>
   <!--col-md-12 end-->
</div>
<!--col-md-12 end-->
