<div class="row">
   <!--col-md-12 start-->
   <div class="col-md-12">
      <div class="page-heading">
         <h1>Lançamentos <small>Identificar um Pedido</small></h1>
      </div>
   </div>
   <!--col-md-12 end-->
   <!--conteudo INCIAL -->
   <!--col-md-12 start-->
   <div class="col-xs-12">
     <div class="box-info">
      <h3>Quantidade em caixa: <%= number_to_currency(@money_amount_in_cash_register) %></h3>
     </div>
   </div>
   <div class="col-md-12">
      <div class="box-info">
         <h3><%= @type=='sale' ? 'Venda' : 'Compra' %></h3>
         <div class="row">
            <div class="col-md-2">
               <%= label_tag :product_code, 'Código do Produto', class: 'text-center' %>
               <input type="text" size="25" id="product_code" onkeyup="suggest(this.value, '<%= @type %>');" onblur="fill();" class="form-control"  required="required" autocomplete="off" />
               <div class="suggestionsBox" id="suggestions" style="display: none;">
                  <img src="../../images/arrow.png" style="position: relative; top: -12px; left: 30px;" alt="upArrow" />
                  <div class="suggestionList" id="suggestionsList"></div>
               </div>
            </div>
            <div class="col-md-2">
               <%= label_tag :name_prod, 'Nome do Produto', class: 'text-center' %>
               <input type="text" name="" id="name_prod" class="form-control" disabled="">
            </div>
            <div class="col-md-2">
               <%= label_tag :value_prod, 'Valor', class: 'text-center' %>
               <input type="text" name="" id="value_prod" class="form-control" disabled="">
            </div>
            <div class="col-md-2">
               <%= label_tag :quantity, 'Quantidade', class: 'text-center' %>
               <input type="number" name="" id="quantity" class="form-control" min='1'>
            </div>
            <div class="col-md-2">
               <%= label_tag :cliente_codigo, 'Código do Cliente', class: 'text-center' %>
               <input type="text" name="" id="cliente_codigo" class="form-control" disabled="">
            </div>
            <div class="col-md-2">
               <%= label_tag :data_trans, 'Data de Transação', class: 'text-center' %>
               <input type="text" class="form-control form-control-inline input-medium" name="data_trans" id="data_trans" />
            </div>
         </div>      
         <div class="row" style="margin-top: 8px">
            <div class="col-md-12">
            <%= label_tag :data_trans, 'Forma de Pagamento', class: 'text-center' %>
               <%= select_tag "credit_card", options_for_select(Transaction.payment_method_options), class: 'form-control' %>
            </div>
         </div>
   
         <hr>
         <div class="row">
            <div class="col-xs-12">
               <button class="btn-primary btn" disabled="true" id="botao_confirmar"  onclick="confirmation_transaction_new('<%= @type %>','<%=current_employee.name%>');">Confirmar</button>
               <%= link_to 'Desfazer último lançamento', undo_last_transaction_path, method: :put, class:'btn-danger btn', data: {confirm: 'Certeza que deseja desfazer o último lançamento?'}%>
            </div>
         </div>
         <div id="recebe_transaction" hidden=""></div>
      </div>
   </div>
</div>
<div class="row">
   <div class="col-md-12">
      <div class="box-info">
         <h3>Transações Anteriores</h3>
         <hr>
         <div class="adv-table">
            <div class="digg_pagination">
               <%= will_paginate @transactions, :container => false %>
            </div>
            <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered" id="anteriores_table">
               <thead>
                  <tr>
                     <th>CODE</th>
                     <th>PRODUTO</th>
                     <th>USER</th>
                     <th>PAGAMENTO</th>
                     <th>DATA DE TRANSAÇÃO</th>
                     <th>VALOR TOTAL</th>
                     <th>QUANTIDADE</th>
                     <th>TIPO</th>
                  </tr>
               </thead>
               <tbody>
                  <% @transactions.each do |transaction| %> 
                        <tr class="gradeX <%= (transaction.type_t == 'sale' ? 'warning' :'') %> ">
                           <td><%= transaction.product_code %></td>
                           <td><%= transaction.product.name %></td>
                           <td><%= transaction.employee.name %></td>
                           <td><%= t("activerecord.attributes.transaction.payment_methods.#{transaction.payment_method}") %></td>
                           <td><%= transaction.data_t.strftime("%d/%m/%Y") %></td>
                           <td>R$ <%= transaction.price %></td>
                           <td><%= transaction.quantity %></td>
                           <td><%= Transaction.human_enum_name(:type_t, transaction.type_t) %></td>
                        </tr>
                  <% end %>
               </tbody>
            </table>
            <div class="digg_pagination">
               <%= will_paginate @transactions, :container => false %>
            </div>
         </div>
      </div>
   </div>
</div>
